<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/master}" lang="en">
<head />
<body>
<section layout:fragment="content">
    <div class="row">
        <th:block th:insert="fragments/menu-fragment :: menu" />
        <div class="col-md-10 mt-3">
            <h3>Token Administration</h3>
            <div class="row border-bottom mb-4 pb-4">
                <div class="col-md-6">
                    <form th:action="@{/admin/token/view}">
                        <select class="form-select" name="path" id="ward-select">
                            <option>Choose a ward</option>
                            <option th:each="w : ${wards}" th:text="${w.value}" th:value="${w.key}" th:selected="${selected == w.key}"></option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="row mt-3" th:if="${user != null && user.apiToken != null}">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>API Token</label>
                        <div class="input-group" id="show_hide_token">
                            <input class="form-control" type="password" th:value="${user.apiToken.token}">
                            <div class="input-group-text">
                                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    Expires:
                    <span th:text="${#temporals.format(user.apiToken.expires, 'MMM dd, yyyy HH:mm')}"></span>
                    <p th:class="${user.apiToken.isExpired} ? 'btn btn-danger btn-sm' : 'btn btn-warning btn-sm'" th:text="${user.apiToken.timePeriod()}"></p>
                </div>
                <div class="col-md-1 pt-4">
                    <form th:action="@{/admin/token/delete}" method="post">
                        <input type="hidden" name="path" th:value="${user.ward.path}" />
                        <button type="submit" class="bg-transparent border-0" id="token_delete" title="Delete Token">
                            <i class="fa-solid fa-trash-can fs-2 text-danger"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row mt-3" th:if="${user != null && user.apiToken == null}">
                <div class="col-md-6">
                    <p class="alert alert-info">
                        User: <span th:text="${user.username}" /> has no token for: <span th:text="${user.ward.title}" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>