<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/master}" lang="en">
<head>
    <script th:src="@{/script/input-replication.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script th:src="@{/script/sortable_inputs.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js" integrity="sha256-AAhU14J4Gv8bFupUUcHaPQfvrdNauRHMt+S4UVcaJb0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/themes/base/autocomplete.min.css">
</head>
<body>
<section layout:fragment="content">
    <div class="grid grid-cols-10">
        <div class="col-span-10">
            <h3 class="font-bold text-3xl my-4" th:text="${agenda.id != null ? 'Edit Sacrament Agenda' : 'Add Sacrament Agenda'}"></h3>
            <form th:action="@{/user/agenda/save}" method="post" th:object="${agenda}">
                <div class="grid grid-cols-6 gap-4">
                    <div class="col-span-6">
                        <input type="hidden" th:field="*{id}" th:if="${agenda.id != null}"/>
                        <input type="hidden" name="wardPath" th:value="${session.user.ward.path}" />
                        <label class="form-label" for="date">Sacrament Date</label>
                        <input type="date" step="7" th:min="${#temporals.format(agenda.nextSunday(), 'yyyy-MM-dd')}" th:field="*{date}"
                               class="rounded block w-full md:w-1/4" id="date" required />
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="presiding.title">Presiding Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{presiding.title}" id="presiding.title"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="presiding.name">Presiding Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{presiding.name}" id="presiding.name"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="conducting.title">Conducting Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{conducting.title}" id="conducting.title"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="conducting.name">Conducting Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{conducting.name}" id="conducting.name"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="organist.title">Organist Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{organist.title}" id="organist.title"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="organist.name">Organist Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{organist.name}" id="organist.name"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="chorister.title">Chorister Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{chorister.title}" id="chorister.title"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="chorister.name">Chorister Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{chorister.name}" id="chorister.name"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="openHymn.title">Opening Hymn Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{openHymn.title}" id="openHymn.title" th:placeholder="${'Opening Hymn'}"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label " for="openHymn.name">Opening Hymn Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{openHymn.name}" id="openHymn.name" th:placeholder="${'#86 How Great Though Art'}"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="invocation.title">Invocation Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{invocation.title}" id="invocation.title"/>
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="invocation.name">Invocation Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{invocation.name}" id="invocation.name"/>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="sacramentHymn.title">Sacrament Hymn Title</label>
                        <input class="rounded block w-full" type="text" th:field="*{sacramentHymn.title}" id="sacramentHymn.title" />
                    </div>
                    <div class="col-span-3">
                        <label class="form-label " for="sacramentHymn.name">Sacrament Hymn Name</label>
                        <input class="rounded block w-full" type="text" th:field="*{sacramentHymn.name}" id="sacramentHymn.name" th:placeholder="${'i.e. #86 How Great Though Art'}"/>
                    </div>
                </div>
                <div class="my-4 border border-black"></div>
                <div id="program-contents">
                    <h5 class="text-lg font-bold">Program Contents
                        <a title="Add an program item" type="button" class="duplicate-input" data-target=".content-set" data-appender="#program-contents">
                            <i class="fa-solid fa-circle-plus text-blue-400"></i>
                        </a>
                    </h5>
                    <div class="grid grid-cols-12 gap-4 mb-3 content-set" th:each="p, i : *{programContent}" th:data-item-id="${'programContent'+i.index}" >
                        <div class="col-span-6 md:col-span-4">
                            <label th:for="${'programContent['+ i.index +'].title'}">Speaker or Music Title</label>
                            <input class="rounded block w-full" type="text"
                                   th:name="${'programContent['+ i.index +'].title'}"
                                   th:value="${p.title}"
                                   th:id="${'programContent['+ i.index +'].title'}" th:placeholder="${'i.e. Speaker or Special Musical #'}"/>
                        </div>
                        <div class="col-span-6 md:col-span-4">
                            <label th:for="${'programContent['+ i.index +'].name'}">Speaker or Music Name</label>
                            <input class="rounded block w-full" type="text"
                                   th:name="${'programContent['+ i.index +'].name'}"
                                   th:value="${p.name}"
                                   th:id="${'programContent['+ i.index +'].name'}" th:placeholder="${'i.e. Speaker name or song name'}"/>
                        </div>
                        <div class="col-span-3 md:col-span-2">
                            <label th:for="${'programContent['+ i.index +'].order'}">Order</label>
                            <input class="rounded w-full" type="text"
                                   th:name="${'programContent['+ i.index +'].order'}"
                                   th:value="${p.order}"
                                   th:id="${'programContent['+ i.index +'].order'}" required />

                        </div>
                        <div class="md:col-span-1 col-span-6 place-self-end text-center">
                            <div th:class="${i.index > 0 ? 'inline' : 'hidden'}">
                                <button type="button" class="delete_item bg-red-600 py-3 px-4 rounded-full" th:data-item-target="${'programContent'+i.index}">
                                    <i class="fa-solid fs-4 fa-trash-can text-white text-xl"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4 border border-black"></div>
                <div class="grid grid-cols-6 gap-4">
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="closingHymn.title">Closing Hymn Title</label>
                        <input class="rounded block w-full mb-3" type="text" th:field="*{closingHymn.title}" id="closingHymn.title" />
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="closingHymn.name">Closing Hymn Name</label>
                        <input class="rounded block w-full mb-3" type="text" th:field="*{closingHymn.name}" id="closingHymn.name" />
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label class="form-label" for="benediction.title">Benediction Title</label>
                         <input class="rounded block w-full" type="text" th:field="*{benediction.title}" id="benediction.title" />
                    </div>
                    <div class="col-span-3">
                        <label class="form-label" for="benediction.name">Benediction Name</label>
                         <input class="rounded block w-full" type="text" th:field="*{benediction.name}" id="benediction.name" />
                    </div>
                </div>
                <div class="my-4 border border-black"></div>
                <div id="announcements">
                    <h5 class="text-lg font-bold">Ward Announcements
                        <a title="Add an announcement" type="button" class="duplicate-input" data-target=".announcement-set" data-appender="#sortable">
                            <i class="fa-solid fa-circle-plus text-blue-400"></i>
                        </a>
                    </h5>
                    <ul class="mb-3" id="sortable">
                        <li class="grid grid-cols-12 gap-4 announcement-set my-2" data-item-set=".announcement-set" th:each="a, i : *{wardAnnouncement}" th:data-item-id="${'wardAnnouncement'+i.index}">
                            <div class="col-span-12 md:col-span-3">
                                <label th:for="${'wardAnnouncement['+ i.index +'].title'}">Title</label>
                                <input class="rounded block w-full" type="text"
                                       th:name="${'wardAnnouncement['+ i.index +'].title'}"
                                       th:value="${a.title}"
                                       th:id="${'wardAnnouncement['+ i.index +'].title'}" />
                            </div>
                            <div class="col-span-12 md:col-span-6">
                                <label th:for="${'wardAnnouncement['+ i.index +'].description'}">Description</label>
                                <input class="rounded block w-full" type="text"
                                       th:name="${'wardAnnouncement['+ i.index +'].description'}"
                                       th:value="${a.description}"
                                       th:id="${'wardAnnouncement['+ i.index +'].description'}" />
                            </div>
                            <div class="md:col-span-1 col-span-6 md:place-self-end text-center" title="Click & Drag to move">
                                <i class="fa-solid fa-up-down text-white text-xl bg-gray-400 py-3 px-5 rounded-full handle"></i>
                            </div>
                            <div class="md:col-span-1 col-span-6 md:place-self-end text-center">
                                <div th:class="${i.index > 0 ? 'inline' : 'hidden'}">
                                    <button type="button" class="delete_item bg-red-600 py-3 px-4 rounded-full" th:data-item-target="${'wardAnnouncement'+i.index}" data-target-set=".announcement-set">
                                        <i class="fa-solid fs-4 fa-trash-can text-white text-xl"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <button type="submit" class="rounded border-blue-600 bg-blue-400 border py-2 px-3">Save</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>