<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/master}" lang="en">
<head />
<body>
<section layout:fragment="content">
    <h3 class="font-bold text-3xl my-5">Ward Announcements</h3>
    <th:block th:each="g : ${announcements}">
        <h4 class="rounded-md bg-gray-200 border border-gray-600 p-1 inline" th:text="${g.key}"></h4>
        <div th:each="a : ${g.value}"
             th:class="${a.pastDue()} ? 'border border-red-600 flex flex-row flex-wrap my-2 p-4 rounded-lg' : 'flex flex-row my-2 border border-gray-600 flex-wrap rounded-lg p-4'">
            <div class="basis-full md:basis-2/5">
                <p>
                    <b th:text="${a.title}" />
                    <span th:if="${a.pastDue()}" class="text-red-600"> - * Past Due</span>
                </p>
                <p><b>ID: </b> <span class="text-sm px-1 bg-gray-200 border border-black rounded-md" th:text="${a.id}" /></p>
                <p><b>Description: </b><span th:text="${#strings.abbreviate(a.description,120)}" /></p>
            </div>
            <div class="basis-full md:basis-2/5 md:px-7">
                <p>
                    <span class="font-bold">Location:</span>
                    <span th:if="${!a.hasLink}" th:text="${a.location.address}" />
                    <span th:if="${a.hasLink}">
                        <i class="fa-solid fa-location-dot text-blue-400"></i>
                        <a th:href="${a.location.link}" th:text="${a.location.address}"></a>
                    </span>
                </p>
                <p>
                    <p class="font-bold">Date(s):</p>
                    <span th:each="d: ${a.dates}">
                        <span th:if="${d.subTitle != ''}"><b th:text="${d.subTitle}"></b>:</span>
                        <span th:if="${d != null}" th:text="${#temporals.format(d.date, 'MMM dd, yyyy hh:mma')}"></span>
                        <br />
                    </span>
                </p>
                <p><b>Announcement Type:</b> <span th:text="${a.type}" /></p>
            </div>
            <div class="basis-full md:basis-1/5">
                <span>
                    Active? <i th:if="${a.active}" class="text-green-600 fa-regular fa-circle-check"></i>
                    <i th:if="${!a.active}" class="text-red-600 fa-solid fa-circle-xmark"></i>
                </span>
                <span>
                    <form th:action="@{/user/announcement/delete}" method="post" class="inline float-right">
                        <input type="hidden" name="id" th:value="${a.id}" />
                        <button class="delete_check py-1 px-2"><i class="fa-solid fa-trash-can text-xl text-red-600"></i></button>
                        <button th:formaction="@{/user/announcement/edit}" class="py-1 px-1.5"><i class="fa-solid text-xl fa-pencil text-amber-400"></i></button>
                    </form>
                </span>
            </div>
        </div>
    </th:block>
</section>
</body>
</html>