<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/master}" lang="en">
<head />
<body>
<section layout:fragment="content">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
            <h3 class="font-bold text-3xl my-4">Ward Schedule</h3>
        </div>
        <div class="col-span-6 my-auto">
            Create Example Schedule:
            <a class="border border-blue-400 bg-blue-200 px-2 py-1 rounded-sm block md:inline my-2 md:my-0" th:href="@{/user/schedule/example/WARD}">Ward</a>
            <a class="border border-violet-400 bg-violet-200 px-2 py-1 rounded-sm block md:inline my-2 md:my-0" th:href="@{/user/schedule/example/STAKE}">Stake</a>
            <a class="border border-orange-400 bg-orange-200 px-2 py-1 rounded-sm block md:inline my-2 md:my-0" th:href="@{/user/schedule/example/CONFERENCE}">Conference</a>
        </div>
        <div class="col-span-12">
            <div class="grid grid-cols-12 my-4" th:each="s, i: ${schedule}">
                <div class="col-span-12 border border-slate-800 rounded-lg p-3 schedule_item">
                    <ul class="list-none">
                        <li>
                            <span class="font-bold">Meeting Schedule for</span>
                            <span th:class="'px-4 py-1 rounded-lg text-slate-800 bg-slate-100 border border-slate-800'" th:text="${s.time}"></span>
                            <div class="float-right inline">
                                <form class="inline mr-4" method="post" th:action="@{/user/schedule/delete/{id}(id=${s.id})}">
                                    <button type="submit" class="delete_check bg-red-600 py-1 px-2 rounded-sm"><i class="fa-solid text-xl fa-trash-can text-white md:m-0 m-3"></i></button>
                                </form>
                                <a th:href="@{/user/schedule/edit/{id}(id=${s.id})}" class="bg-amber-400 py-1.5 px-1.5 rounded-md"><i class="fa-solid text-xl fa-pencil text-white"></i></a>
                            </div>
                        </li>
                        <li th:each="e : ${s.events}" class="pb-5">
                            <div class="flex flex-row flex-wrap">
                                <div class="basis-full md:basis-1/4">
                                    <span class="font-bold">Title</span> - <span th:text="${e.title}" />
                                </div>
                                <div class="basis-full md:basis-1/4">
                                    <span class="font-bold">Sundays</span> - <span th:text="${e.sundays()}" />
                                </div>
                                <div class="basis-full md:basis-1/4">
                                    <span class="font-bold">Subtitle</span> - <span th:text="${e.subtitle}" />
                                </div>
                                <div class="basis-full md:basis-1/4">
                                    <span class="font-bold">Description</span> -  <span th:text="${e.description}" />
                                </div>
                                <div class="basis-full">
                                    <img th:if="${e.image.src != ''}" th:src="${e.image.src}"
                                         th:width="100" th:height="100" th:alt="${e.image.alt}" />
                                </div>
                            </div>
                            <div th:if="${e.button.text != ''}" class="my-2">
                                <a class="px-2 py-1 bg-gray-200 border-gray-600 border rounded-lg"
                                   th:target="${e.button.link.external != null ? '_blank' : ''}"
                                   th:href="${e.button.link.url}" th:text="${e.button.text}"></a>
                                <p><small th:text="${e.button.link.label}"></small></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>