<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main/master}" lang="en">
<head />
<body>
    <th:block th:fragment="menu">
        <div class="md:col-span-3 col-span-12">
            <div class="bg-gray-200">
                <div class="">
                    <div class="md:hidden block w-10 float-right mr-3" id="menu-toggle">
                        <div class="border-2 border-black my-2"></div>
                        <div class="border-2 border-black my-2"></div>
                        <div class="border-2 border-black my-2"></div>
                    </div>
                    <a class="block bg-amber-200 p-3 pl-5 hover:bg-gray-400 border-b-2 border-gray-600" th:href="@{/}">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </div>
                <div id="collapsed-menu" class="md:block hidden">
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:href="@{/user/ward}">Ward</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.isOwner()}" th:href="@{/user/token}">Token</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.editorAccess()}" th:href="@{/user/announcement}">Announcements</a>
                    <a class="block bg-gray-200 p-3 pl-8 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.editorAccess()}" th:href="@{/user/announcement/add}">Add Announcement</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/datacard}">DataCards</a>
                    <a class="block bg-gray-200 p-3 pl-8 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/datacard/add}">Add DataCard</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/agenda}">Sacrament Agenda</a>
                    <a class="block bg-gray-200 p-3 pl-8 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/agenda/add}">Add Agenda</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/schedule}">Schedule</a>
                    <a class="block bg-gray-200 p-3 pl-8 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/schedule/add}">Add Meeting</a>
                    <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                       th:if="${user.publisherAccess()}" th:href="@{/user/file}">File Upload</a>
                    <th:block th:if="${user.admin}">
                        <div class="p-3 pl-5 bg-black text-white">Administration</div>
                        <a class="block bg-gray-200 p-3 pl-5 hover:bg-gray-400 border-b border-gray-400"
                           th:href="@{/admin/user}">User</a>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
